* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 1920px;
    margin: 0 auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    background-color: blue;
}

.nav .logo_nav {}

.nav .menu li {}